h1{
    text-align: center;
}
h2{
    text-align: center;
}
p{
    font-size: 25px;
}
table,tr,th,td{
    padding: 20px;
    font-size: 20px;
    border: 1px solid black;
    border-collapse: collapse;
}
img{
    border: 1px solid black;
    width: 900px;
    height: 450px
}